{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
<h1 class="text-center"> Bienvenue </h1>
<div class="col-12">
    <div class="row bg-dark">
        <div class="form-group d-flex justify-content-evenly">
            <a href="#" class="text-light">Conducteur</a>
            <a href="#" class="text-light">Véhicule</a>
            <a href="#" class="text-light">Association</a>
        </div>
    </div>
</div>

<div class="col-12">
    {% include "home/_table.html.twig" %}
</div>

<div class="col-3 m-3">
    {% include "home/_conductform.html.twig" with {form : form} only %}
</div>

{% endblock %}
